@import "../../base";

.link{
    text-decoration: none;
    color: #000;
}
.video{
        text-decoration: none;
        display: flex;
        flex-wrap: nowrap;
        margin:0.5rem 0.3rem;
        &__top{ 
            position:relative;
            img{
                margin-right: 0.4rem;
                border-radius: 10px;
                object-fit: contain;
                cursor: pointer;
                width: 12rem;
            }
            span{
                font-weight: 500;
                flex-wrap: nowrap;
                position: absolute;
                bottom: 3px;
                right: 10px;
                background: #000;
                color: white;
                padding: 0px 3px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                font-size: 0.8rem;

            }
        }

        &__details{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            margin-top: 0;
                h6{
                    font-size: 0.9rem;
                    font-weight: 500;
                    @include line-clamp(2);
                }
                    p{
                        text-decoration: none;
                        margin: 0;
                        font-weight: 500;
                        color: #808080;
                        font-size: 0.8rem;
                        @include line-clamp(1);
                    } 
                
            }

    }
