@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Handjet&family=Lugrasimo&family=Montserrat+Alternates:ital,wght@0,500;1,400&family=Raleway:wght@500&family=Righteous&family=Russo+One&family=Teko:wght@500&family=Tektur:wght@500&family=Varela+Round&display=swap');

$text-color:#b1bdb4;
$black-primary:#16181b;
$black-secondary:#121417;
$border-color: #4c4c4c;

$breakpoint-small:520px;
$breakpoint-medium:720px;

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  // color: $text-color;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
}
.link{
  text-decoration: none;
  color: #000;
}

///For fitting in 2 lines
@mixin line-clamp($number){
  overflow: hidden;
  display: -webkit-box; 
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical
}


